
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">


<marquee><h1>Dashboard</h1></marquee>
<div class="w-50 px-5">
  <form method="post">
    {% csrf_token %}
    <div class="input-group">
      <span class="input-group-text">With textarea</span>
      <textarea class="form-control" aria-label="With textarea" name="content"></textarea>
    </div>
    <div class="d-flex mt-3">
      <button type="submit" class="btn btn-primary ml-auto">Primary</button>
    </div>
  </form>
</div>